<!-- begin app.component -->

<!-- Begin header -->

<nav class="navbar navbar-toggleable-md navbar-inverse navbar-custom">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">{{title}}</a>

    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="#">Exemple</a>
            </li>
        </ul>
    </div>
</nav>

<!-- End header -->

<app-bucket></app-bucket>

<!-- footer -->


<!-- End app.component -->
