/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    min-height:100vh;
}

.footer {
    width:100%;
    position:absolute;
    bottom:0px;
}

.custom-frame-style {
    padding: 30px; 
    background-color:#008000;
    color: white;
    vertical-align:middle;
}

.navbar-custom {
}

.cedille-logo {

max-width:125px;
}
