/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

body {
    min-height:100vh;
}

.footer {
    width:100%;
    position:absolute;
    bottom:0px;
}

.custom-frame-style {
    padding: 30px; 
    background-color:#008000;
    color: white;
    vertical-align:middle;
}

.navbar-custom {
}

.cedille-logo {
    max-width:125px;
}

.footer-icons {
    font-size: 1.5em;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    text-align:center;
}

.footer-icons i {
    line-height:40px;
}

.footer-li {
    text-align:-moz-center;
    text-align:-webkit-center;
}

.section-title {
    margin-top: 30px;
    margin-bottom: 30px;
}
